@font-face {
   font-family: 'Montserrat Variable';
   src: url('assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat Variable';
   src: url('assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: italic;
   font-display: swap;
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat Variable', sans-serif;
   font-weight: 900;
   font-size: 20px;
   color: #0000ff;
}

h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.5rem;
}

h3 {
   font-size: 1.2rem;
}

p {
   font-size: 1rem;
   font-weight: 100;
   font-style: italic;
}

li {
   font-size: 0.9rem;
}

a{
   font-size: 1rem;
}

header {
   max-width: 1280px;
   margin: auto;

   & .photo-link {
      display: inline-block;

      & .round-photo {
         width: 60px;
         height: 60px;
         border-radius: 50%;
         border: 1px solid black;
         object-fit: cover;
         box-sizing: border-box;
      }
   }
}

main {
   margin: auto;
   max-width: 1280px;
   display: flex;
   flex-direction: column;
   gap: 10px;

   & .personal-info {
      position: relative;
      padding-left: 20px;

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 5px;
         height: 100%;
         background-color: red;
      }

      & h2::first-letter {
         color: red;
         font-style: italic;
      }

      & p {
         max-width: 500px;
         margin: 0 auto;
         text-align: center;
      }
   }

   & .work {

      & h2 {
         text-transform: uppercase;
      }

      & .job-list, .duty-list {
         list-style-type: none;
         padding-left: 0;

         & li {
            font-style: normal;
            font-weight: 400;
            position: relative;
            padding-left: 25px;
            margin-bottom: 5px;
         }
      }

      & .job-list {
         & h3 {
            display: inline;
         }

         &>li::before {
            content: "▶";
            color: orange;
            font-weight: bold;
            padding-right: 5px;
         }
      }

      & .duty-list {

         & li::before {
            content: "•";
            color: rgb(0, 255, 110);
            font-weight: bold;
            padding-right: 5px;
         }
      }
   }

   & .contacts {

      & h2 {
         letter-spacing: 0.2rem;
      }

      & .links {
         margin-top: 15px;
         display: flex;
         gap: 15px;
      }

      & .contact-links {

         & a {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;

            &:visited {
               color: #0000ff;
            }

            &:hover {
               text-decoration: underline;
               text-decoration-color: blueviolet;
               text-decoration-thickness: 2px;
               text-decoration-style: solid;
            }
         }

      }

      & img {
         width: 24px;
         height: 24px;

         &:hover {
            filter: invert(30%) sepia(90%) saturate(1000%) hue-rotate(250deg);
         }
      }
   }

   & .skills {

      & h2 {
         text-transform: lowercase;
      }

      & p {
         font-weight: bold;
         word-spacing: 0.7rem;
      }
   }
}