@font-face {
   font-family: 'Montserrat Variable';
   src: url('assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat Variable';
   src: url('assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
   font-weight: 100 900;
   font-style: italic;
   font-display: swap;
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat Variable', sans-serif;
   font-weight: 900;
}

p {
   font-weight: 100;
   font-style: italic;
}

header {
   & .photo-link {
      display: inline-block;

      & .round-photo {
         width: 200px;
         height: 200px;
         border-radius: 50%;
         border: 5px solid black;
         object-fit: cover;
         box-sizing: border-box;
      }
   }
}

main {
   margin: auto;
   max-width: 1280px;

   & .personal-info {
      position: relative;
      padding-left: 20px;

      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 5px;
         height: 100%;
         background-color: red;
      }

      & h2::first-letter {
         color: red;
         font-style: italic;
      }
   }

   & .work {
      .job-list {
         list-style-type: none;
         padding-left: 0;

         & li {
            font-style: normal;
            font-weight: 400;
            &::before {
               content: "▶";
               color: orange;
               font-size: 0.8em;
               font-weight: bold;
               padding-right: 5px;
            }
         }
      }
   }

}