name: Deploy Project Stages

on:
  push:
    branches:
      - "stage-*"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Deploy Folder and Assemble Content
        run: |
          DEPLOY_FOLDER="deploy-folder"

          mkdir $DEPLOY_FOLDER

          for i in {1..5}; do
            STAGE_BRANCH="stage-$i"
            STAGE_TARGET="$DEPLOY_FOLDER/$STAGE_BRANCH"
            
            if git ls-remote --heads origin $STAGE_BRANCH | grep $STAGE_BRANCH; then
              echo "Processing $STAGE_BRANCH..."
              
              mkdir -p $STAGE_TARGET
              
              git checkout $STAGE_BRANCH -- .
              mv * $STAGE_TARGET/ 2>/dev/null || true
              rm -rf $DEPLOY_FOLDER/.git 
              
              git restore .
            else
              echo "Branch $STAGE_BRANCH not found on remote, skipping."
            fi
          done

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy-folder
          publish_branch: gh-pages
